* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans' ,sans-serif;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}


.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: blueviolet;
}

.menu {
    float: right;
}

nav {
    background-color: whitesmoke;
	height:60px;
	width:100%;
	position:fixed;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	color:black;
	z-index:1;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: navy;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    height: 90vh;
}

.kolom {
    margin-top: 60px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 45px;
    color: black;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: greenyellow;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;

}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: greenyellow;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}